a {
    text-decoration: none;
}

a {
    padding: 20px 0;
    display: block;
    text-align: center;
}

.roundActive {
    background-color: #FFFFFF;
}

.roundButton {
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}